NODE_ENV=development
PORT=3000
PROJECT_NAME=boilerplate

MYSQL_HOST=host.docker.internal
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB=

REDIS_URL=redis://host.docker.internal:6379


JWT_SECRET=

SMTP_USER=
SMTP_PASS=

LOG_LEVEL=debug